.page-header {
  background-color: #38c4de;
  color: #fff;
  padding: 16px;
}

.page-header__title {
  font-size: 32px;
  line-height: 42px;
  padding-top: 30px;
}

.page-header__subtitle {
  font-size: 24px;
  line-height:24px;
  color: rgba(255, 255, 255, 0.84);
}
